<!DOCTYPE html>

<html lang="en">

<head>
    <% include ../helpers/head %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

    <h1>Change to something else</h1>
  </div>

<!--   <script>// Import the functions you need from the SDKs you need
  import { initializeApp } from "firebase/app";
  import { getAnalytics } from "firebase/analytics";
  import { getAuth, onAuthStateChanged } from "firebase/auth";
  import { getDatabase } from "firebase/database";
  import { GoogleAuthProvider } from "firebase/auth";
  import { getAuth, signInWithPopup, GoogleAuthProvider } from "firebase/auth";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  //src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js">
  
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />

  import firebase from 'firebase/compat/app';
  import 'firebase/auth'; // This line is important


  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    authDomain: "message-stream-aadd0.firebaseapp.com",
    // The value of `databaseURL` depends on the location of the database
    databaseURL: "https://message-stream-aadd0-default-rtdb.firebaseio.com",
    projectId: "message-stream-aadd0",
    storageBucket: "message-stream-aadd0.appspot.com",
    messagingSenderId: "568130129310",
    appId: "1:568130129310:web:7eaf7009be51f675ce1a8f",
    measurementId: "G-5BZ7SF51HV"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  // Initialize Firebase Authentication and get a reference to the service
  const auth = getAuth(app);
  onAuthStateChanged(auth, user => {
  // Check for user status
  });
  // Initialize Realtime Database and get a reference to the service
  const database = getDatabase(app);
  export default app;
</script> -->

  
  <button type="button" onClick="handleSignIn()">Login</button>

  <input class="search" type="text" placeholder="Enter city name">
  <button type="button" onClick="searchWeather()">Search</button>

  <div class="error-message"></div>

  <div class="city">

  </div>

  <div class="temp">

  </div>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  
</body>

</html>